/* 全局基础style，字体，body */
/*-----------------------------------------------------------------------------------------------------------------*/
h1 {
    text-align: center;
    font-family: "Arial";
    color: rgb(190, 189, 189);
}

h2 {
    text-align: center;
    font-family: "Arial";
    color: gray;
}

h4 {
    text-align: center;
    color: gray;
}

p {
    text-align: center;
    color: white;
}



/*-----------------------------------------------------------------------------------------------------------------*/
/* background image */
body {
    background-color: rgb(1, 0, 6);
    background-image: url("../BKGD/BKGD_7.jpg");

    /* position */
    background-size: auto;
    /*大小 */
    background-position: top;
    /* 居中 */
    background-repeat: no-repeat;
    /*只出现一次，不repeat*/

}



/*-----------------------------------------------------------------------------------------------------------------*/